@charset "utf-8";

@import "_mixin";

#box_wrap{height: 100vh; background-color: yellow;display: flex;}
#box_wrap .w26{
    #digitalBox{background-color: #100964; color: #fffabf;height: 24vh;display: flex;  
    &::after{
        content: "";position: absolute;background: url("../images/index/dia.png") no-repeat; width: 18px; height: 18px;top: 1%;left: 1%;}
        #digital{ 
            @include border-radius(50%);
            @include border-box;
            display: flex;align-items: center;justify-content: center;width: 95%; height: 90%; border: 1px solid #fffabf;font-size: 1.5vw;margin: auto;text-align: center;}
    }
    #aboutWrap{background: #000;color:#fffabf;height: 47vh;width: 100%;
        .tit{font-size: 1.8vw;height: 16%; border-bottom: 1px solid #fffabf; width: 100%;
            h2{
                span{
                    @include transform(translateY(-50%));
                    top: 50%;}
                span:first-child{left: 4%;}
                span:last-child{right: 4%;}
            }
        }
        #clickSmile{font-size: 0.7vw;font-weight: 700;line-height: 0.7vw;}
        .aboutMain{
            height: 75%; overflow: hidden;
            > *{position: absolute;}
            // 가로 세로 라인과 원 이미지 처리
            .line, .circle{@include transition(all 0.2s);}
            .line{background: #00ff00;}
            .verline{width: 1px;height: 100%;top: 0;left: 140px;}
            .horline{width: 100%;height: 1px;top: 275px;left: 0;}
            .circle{
                top: 54px;
                left: -78px;
                width: 89.8%;
                img{width: 100%;
                }
            }

            .f_c{left: 4%;bottom: 10%;}
            .smile{
                @include transform(translate(-50%, -50%));
                top: 50%;left: 50%;}
            .l_c{right: 4%;top: 10%;}
            
        }
        .position{height: 9%;border-top:1px solid #fffabf;;}
        

    }
    #moveSection{font-size: 0.8vw;height: 29%;
    .half{width: 50%;height: 100%;position: relative;
        p{
            @include transform(translate(-50%, -50%));
           position: absolute;top: 50%;left: 50%;text-align: center;}}
    .half:first-child{
        @include bgsize(cover);
        background: url("../images/index/holrogramBg.jpg") no-repeat center;position: relative;
        p{color: #1800fd;}
    &::before{content: "";position: absolute;}}
    .half:last-child{
        background-color:#5d9eff;
        p{color: #a1ffaa;}
    }//16px=0.8vw
    }
}
#box_wrap .w52{
    #portfolio{height: 71%;background-color: #1800fd;font-size: 1.5vw;font-family: Mot;font-weight: 800;color:#5d9eff;position: relative;letter-spacing: 0.27vw;
    .top{height: 75%;}
    .bottom{position: absolute; bottom: 0;height: 35%;width: 100%;
        ul{width: 100%;height: 92%;margin-top: 5px;
        li{
            @include border-box;
            width: 50%;height: 50%;border:2px solid #5d9eff;display: flex; border-collapse: collapse;
            button{width: 100%;height: 83%;margin: auto;}
        p{text-align: center;}
    }
        li:nth-child(2),li:nth-child(4){border-left: none;}
        li:nth-child(3),li:nth-child(4){border-top: none;}
        li:hover{color: #fff; background:#5d9eff;}
    }
        p{font-size: 0.6vw;color: #fff;letter-spacing: 6.25vw;text-align: center;margin-left: 5px;}
    }
    }
    .card{
        position: relative;width: 100%;height: 29vh; 
        .front{
            @include bgsize(cover);
            background: url("../images/index/yoda.jpg") no-repeat center;height:  29vh;width: 100%;
            p{position: absolute;bottom: 5%;left: 2%;font-size: 0.6vw;font-family: Mot;font-weight: 800;color: #fff;letter-spacing: 6.25vw;text-align: center;margin-left: 5px;}
        }
        .back{position: relative;;color: #fff;background-color: #000;height: 29vh;font-family: Mot;font-weight: 800;
        .yoda{
            @include bgsize(cover);
            background: url("../images/index/yodaStiker.png") no-repeat center;width: 229px;height: 230px;position: absolute;
        }
        p{font-size: 1vw;letter-spacing: 0.18vw;color: #9b9b9b;}
        p:first-child{position: absolute;top: 40%;left: 40%;}
        .contact{position: absolute;bottom: 5%;left: 2%;font-size: 0.6vw;color: #fff;letter-spacing: 6.25vw;text-align: center;margin-left: 5px;}
        a{position: absolute;font-size: 0.73vw;color: #00ff24;bottom: 2.9vw}
    }
    & > div{
        @include transform(all 2s);
    }
    }
    /* #ver .front{transform: rotateX(0deg);}
    #ver:hover .front, #ver.flip .front{transform: rotateX(180deg);}
    #ver .back{transform: rotateX(-180deg);}
    #ver:hover .back, #ver.flip .back{transform: rotateX(0deg);} */
    }